<!DOCTYPE html>
<html ng-app='myApp'>
    <head>
        <title>Testing angularjs week 25</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.less">
        <base href="/week25/public/" />
    </head>
    <body>
    <div change-bg-dir>
        <div>
            <nav class="{{active}}" ng-click="$event.preventDefault()" ng-controller="sectionCtrl">

                <a ui-sref="state1" class="home" ng-click="active = 'home'">Home</a>
                <a ui-sref="state2" class="projects" ng-click="active = 'projects'">Projects</a>
                <a ui-sref="state3" class="services" ng-click="active = 'services'">Services</a>
                <a ui-sref="state4" class="bgcolor" ng-click="active = 'bgcolor'">Background color</a>
            </nav>

            <p ng-hide="active">Please click a menu item</p>
            <!-- <p ng-show="active">You chose <b>{{active}}</b></p> -->
            <div ui-view></div>
        </div>

        
        
    
        
    <div class="row">-------------------------------------------------------------------------------------------------</div>


        <div ng-controller="ButtonsCtrl">
            <h4>Single toggle</h4>
            <pre>{{singleModel}}</pre>
            <button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                Single Toggle
            </button>
            <h4>Checkbox</h4>
            <pre>{{checkModel}}</pre>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="checkModel.left" btn-checkbox>Left</label>
                <label class="btn btn-primary" ng-model="checkModel.middle" btn-checkbox>Middle</label>
                <label class="btn btn-primary" ng-model="checkModel.right" btn-checkbox>Right</label>
            </div>
            <h4>Radio &amp; Uncheckable Radio</h4>
            <pre>{{radioModel|| 'null'}}</pre>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Left</label>
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Middle</label>
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Right</label>
            </div>
            <div class="btn-group">
                <label class="btn btn-success" ng-model="radioModel" btn-radio="'Left'" uncheckable>Left</label>
                <label class="btn btn-success" ng-model="radioModel" btn-radio="'Middle'" uncheckable>Middle</label>
                <label class="btn btn-success" ng-model="radioModel" btn-radio="'Right'" uncheckable>Right</label>
            </div>
        </div>
        
        
        <div class="row">-----------------------------------</div>
        

      
        
        <div class="row">-----------------------------------</div>
        
            

        <!-- manually added script files -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/restangular/dist/restangular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>

        <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>


        <!-- fa not included -->
        
        <!-- bower:js -->
        <script src="bower_components/lodash/dist/lodash.compat.js"></script>
        <!-- endbower -->
  
        <script src="js/js.js"></script>
    </div>
    </body>
</html>
